@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Clarity Emailer!</h1>
    <p>Select which delivery system you'd like to use: <a href=~/LibraryEmailer>Library</a> or <a href=~/APIEmailer>API</a></p>
</div>
