@page
@model ClarityEmailer.UI.ASPNET.Pages.LibraryEmailerModel
@{
    ViewData["Title"] = "Library Emailer";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Library Emailer!</h1>
    <p>Select which delivery system you'd like to use: <a href=~/LibraryEmailer>Library</a> or <a href=~/APIEmailer>API</a></p>
</div>
