@page
@model ClarityEmailer.UI.ASPNET.Pages.LibraryEmailerModel
@{
    ViewData["Title"] = "Library Emailer";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Library Emailer!</h1>
</div>

<div class="text-body">
    <p>Enter Recipient Email Address:</p>
    <form method="post">
        <input type="text" asp-for="ToAddress" placeholder="Recipient Address" />
        <span asp-validation-for="ToAddress"></span>
        <button type="submit">Send Email</button>
    </form>
    <p style="color:red">@Model.Status</p>
</div>