@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Privacy? I thought that said Piracy.</p>
<img src="https://sc02.alicdn.com/kf/HTB1fbFCleOSBuNjy0Fdq6zDnVXaQ/230948843/HTB1fbFCleOSBuNjy0Fdq6zDnVXaQ.jpg" />
